# Environment
.env
.env.local
.env.*.local

# Dependencies
/vendor/

# Ignore semua isi uploads
/uploads/*

# Tetapi tetap izinkan .htaccess
!/uploads/.htaccess

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Logs
*.log